mixin pages(curPage,totol,baseUrl)
	- var curPage = Number(curPage),totol = Number(totol);
	- var startPage = curPage - 4 > 0 ? curPage - 4 : 1;
	- var lastPage = curPage + 4 <= totol ? curPage + 4 : totol;
	- if(startPage == 1) lastPage = totol >= 9 ? 9 : totol
	div.global-pages
		- if(curPage > 1)
			a.page.page-prev(href=baseUrl+'?id='+(curPage-1)) 上一页
		- if(startPage > 1)
			a.ell ...
		- for(var val = startPage ; val < lastPage + 1 ; val ++)
			a.page(class='page-'+val class=curPage===val?'cur':'' href=baseUrl+'?id='+val) #{val}
		- if(totol > 9 && curPage < totol )
			a.ell ...
		- if(curPage < totol)
			a.page.page-next(href=baseUrl+'?id='+(curPage+1)) 下一页