extends layout
block content
	include header
	div.content
		p.username #{question.username}
		p.content #{question.content}
		p.uptimes #{question.uptimes}
		p.sharetimes #{question.sharetimes}
		p.replytimes #{question.replytimes}
		p.type #{question.type}
		p.ctime #{question.ctime}
		p.avatarUrl #{question.avatarUrl}
		
		div.comments-list
			each comment, i in comments
				div.comment-box
					span(commentId='#{comment.id}')
						span #{comment.content}
		div.reply-box
			textarea.reply-content
			a.submit 提交
	include footer
	script.
		require(['question'], function(index) {
		})


